<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit">
      <h1><%= @greeting %>></h1>
      <h1>ToDo</h1>
        <p>Welcome to the tutorial's ToDo application</p>

      you are now looking at data from database.
      <%= @content %>>
    </div>
  </div>
</div>

